@mixin flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin media-md {
	@media screen and (max-width: 768px) {
		@content;
	}
}

@mixin media-lg {
	@media screen and (max-width: 1024px) {
		@content;
	}
}

@mixin media-xl {
	@media screen and (max-width: 1600px) {
		@content;
	}
}
